/* RESET STYLES */
* {
    margin: 0;
    padding: 0;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #f1f1f1;
}

img {
    max-width: 100%;
    display: none;
}

input, button, textarea, select {
    font: inherit;
}

a, button, .profile-details {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}
input,button {
    border: none;
    background-color: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul{
    list-style-type: none;
}

/* GENERAL STYLES */

.body-container {
    display: grid;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1A;
    padding: 12px 16px;
    gap: 8px;
    flex: 1 0 0;
}

.search-container {
    display: flex;
    height: 32px;
    padding: 8px;
    gap: 6px;
    flex: 1 0 0;
    align-items: center;
    border: 1px solid #616161;
    background-color: #303030;
    border-radius: 8px;
    width: 100%;
}
.search-container svg {
    color: #B5B5B5;
}
.search-container:hover {
    border: 2px solid white
}

.search-container:active {
    border: 3px solid white;
}

input {
    width: 80%;
    outline: none;
    color:#e3e3e3;
    
}

input::placeholder {
    color: #B5B5B5;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
}

.alert-modal-container, .profile-modal-container, .article, .hidden, .desktop-logo, .profile-name {
    display: none;
}

.flex-box{
    display: flex;
    flex-direction: column;
}

.show-modal, .show-article {
    display: flex;
}

.show-article-content {
    display: block;
}

.alert-modal-container {
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1;
   
}
.alert-modal {
    display: flex;
    width: 358px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    top: 4.5em;
}

.alert-modal div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.alert-modal-title {
    color: var(--font-dark, #303030);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
}
.alert-modal-icons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.alert-text {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background: var(--states-hover, #F1F1F1);
}

.alert-text p {
    flex: 1 0 0;
    color: var(--font-dark, #303030);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 18.2px */
}

.alert-btn {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--grey-grey-200, #303030);
}
.profile {
    display: flex;
    align-items: center;
    font-size: 12px;
    background-color: #36FBA1;
    border-radius: 6px;
    height: 28px;
    padding: 9px 5px 10px 5px;
    color:rgba(0, 0, 0, 0.40);
    line-height: 15.6px;
    font-weight: 500;
    width: 28px;
}


.profile-modal-container {
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: flex-end;
    z-index: 1;
    
}
.profile-modal {
    display: flex;
    width: 320px;
    padding: 6px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 4.5em;
    margin-right: 16px;
}
.profile-heading {
    display: flex;
    padding: 4px 12px 4px 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin: 0 6px;
    cursor: pointer;
}
.profile-title {
    display: flex;
    align-items: center;
    gap: 8px;
}
.profile-fullname {
    color: var(--font-dark, #303030);
    font-size: 13px;
    font-weight: 600;
    line-height: 140%; 
}
.profile-modal .last-child {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    margin: 0 6px;
    cursor: pointer;
}
.profile-heading:hover {
    border-radius: 8px;
    background: var(--states-hover, #F1F1F1);
}
.profile-heading:active {
    border-radius: 8px;
    background: var(--states-hover, #F0F0F0);
}
.profile-heading:focus {
    border-radius: 8px;
    border: 2px solid var(--states-focused, #005BD3);
}
.profile-modal .last-child:hover {
    border-radius: 8px;
    background: var(--states-hover, #F1F1F1);
}
.profile-modal .last-child:active {
    border-radius: 8px;
    background: var(--states-pressed, #F0F0F0);
}
.profile-modal .last-child:focus {
    border-radius: 8px;
    outline: 2px solid var(--states-focused, #005BD3);
}
.profile-modal .last-child p{
    color: var(--font-dark, #303030);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.profile-modal-links {
    display: flex;
    padding: 3px 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    
}

.profile-modal-links:first-of-type {
    border: 1px solid #F1F1F1;
    border-top: 1px solid #F1F1F1 ;
    border-bottom: 1px solid #F1F1F1;
}

.profile-modal-links a {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--font-dark, #303030);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    color: #303030;
    border-radius: 8px;
}
.profile-modal-links a:hover {
    border-radius: 8px;
    background: var(--states-hover, #F1F1F1);
}
.profile-modal-links a:active {
    border-radius: 8px;
    background: var(--states-pressed, #F0F0F0);
}
.profile-modal-links a:focus {
    border-radius: 8px;
    border: 2px solid var(--states-focused, #005BD3);
}
.profile-modal-links .profile-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: initial;
    align-self: stretch;
    line-height: 18.2px;/* 18.2px */
}
.profile-modal .gmail-name {
    color: var(--font-dark, #303030);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.profile-modal .gmail {
    color: var(--grey-grey-100, var(--font-mid-2, #616161));
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.alert-btn:hover, .alert-btn svg:hover, .profile-details:hover {
    border-radius: 8px;
    background: var(--font-mid-2, #616161);
}
.alert-btn:active, .alert-btn svg:active, .profile-details:active {
    border-radius: 8px;
    background: var(--grey-grey-50, #656266);
}
.alert-btn:focus, .alert-btn svg:focus, .profile-details:focus {
    border-radius: 8px;
    background: var(--grey-grey-50, #656266);
    outline: 2px solid #005BD3;
}
main {
    display: flex;
    flex-direction: column;
    
}

.select-plan {
    display: flex;
    padding: 12px 8px 12px 16px;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    background: var(--color-scales-gray-16, #1A1A1A);
    margin: 1em 0 2em 0;
}
.select-plan div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.select-plan p {
    flex: 1 0 0;
    color: var(--font-light, #E3E3E3);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
}

.close-button {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 10px;
}

.select-plan a {
    display: flex;
    align-self: start;
    border-radius: 6px;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: white;
    padding: 6px 12px;
    color: #323232;
    border-radius: 4px;
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}
 .select-plan a:hover {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #F7F7F7;
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}
 .select-plan a:active {
    border-radius: 6px;
    background: #F7F7F7;
    box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;
}

.display-steps:hover {
    border-radius: 6px;
    background: #E7E7E7;
}
.display-steps:active {
    border-radius: 6px;
    background: #E0E0E0;
}
.display-steps:focus {
    border-radius: 6px;
    border: 2px solid var(--states-focused, #005BD3);
    background: #FFF;
    offset: 2px;
}

.select-plan a:focus {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White, #FFF);
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #FFF, 0px -1px 0px 0px #B5B5B5 inset;
}
.brown-button:hover {
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    background: #2A2A2A;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}
.brown-button:active {
    border-radius: 6px;
    background: #2B2B2B;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}
.brown-button:focus {
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    background: #404040;
    box-shadow: 0px 0px 0px 5px #005BD3, 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333;
}

.setup{
    display: flex;
    padding: 8px;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.setup-div {
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}


.setup-heading {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: var(--font-dark, #303030);
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    
}

.setup-div .main-text {
    align-self: stretch;
    color: var(--font-dark, #303030);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 18.2px */
}

.setup-div .steps-completed {
    font-size: 12px;
}

.progress-bar-container{
    width: 72px;
    height: 4px;
    background-color: #E3E3E3;
    border-radius: 10px;
}
.progress-bar {
    background-color: #1C181D;
    width: 0px;
    height: inherit;
    border-radius: 10px;
}

 
.article {
    padding: 8px 8px 12px 8px;
    align-items: start;
    gap: 16px;
    align-self: stretch; 
    border-radius: 10px;
}
.article-content {
    display: flex;
    padding: 2px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}
.open-article-content {
    color: var(--font-dark, #303030);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.2px;
    cursor: pointer;
}
.article-content p{
    color: var(--font-mid-2, #616161);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    
}

.article-content .blue {
    color: var(--states-focused, #005BD3);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.article-content button {
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    background: #404040;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
    color: var(--font-light, #F6F3F6);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}
.article-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.article-buttons-container p {
    color: var(--font-dark, #323232);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}
.article.selected {
    background-color: #F3F3F3;
}
.steps-completed {
    margin: 1em 0;
}


.rotate-down {
    transform: rotate(180deg);
    transition: transform 0.3s ease; 
}

/* Define styles for each stage */
.transition-button svg {
    display: none;
}

.transition-button.stage1 svg:nth-child(1) {
    display: inline;
}

.transition-button.stage2 svg:nth-child(2) {
    display: inline;
}

.transition-button.stage3 svg:nth-child(3) {
    display: inline;
}


/* UTILITY CLASSES */
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.text-start {
    text-align: start;
}
.text-center {
    text-align: center;
}
.flex-end {
    display: flex;
    /* justify-self: center; */
    /* justify-self: last baseline; */
    align-self: flex-end;
}
.blue {
    color: #005bd3;
}
.dark-brown {
    background-color: #322F33;
    border: 1px solid #322F33;
    border-radius: 10px;
    color: white;
    margin: 1em 0;
    padding: .7em;
}

.ml-1{
    margin-left: .5em;
}
.hidden {
    display: none;
}

/* Media query for screens 640px and below
@media (min-width: 640px) {
    header {
        padding: 2em
    }
    .profile-modal {
        width: 60%;
        margin-right: 2em;
    }
    .alert-modal {
        width: 65%;
    }
    .setup > div {
        padding: 2em;
    }
    .select-plan {
        padding: 1em 2em;
    }
}

@media (min-width: 768px) {
    header {
        padding: 2em 3em;
    }
    .select-plan {
        padding: 1.5em 3em;
    }

    .setup > div {
        padding: 3em;
    }
    .profile-modal, .alert-modal {
        margin-right: 3em;
    }
    .alert-modal-container {
        align-items: flex-end;
    }
} */

@media (min-width: 1024px) {
    img {
        display: block;
    }
    .mobile-logo {
        display: none;
    }
    .desktop-logo {
        display: block;
    }
    header {
        padding: 1em;
    }
    
    .profile-details {
        display: flex;
        padding: 2px 2px 2px 8px;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: var(--grey-grey-200, #303030);
        height: 32px;
    }
    .profile-name {
        display: block;
        color: #E3E3E3;
        padding: .4em;
        font-size: 12px;
        font-weight: 500;
        
    }
     .alert-modal-container{
        justify-content: flex-end;
        align-items: flex-end;

    }
    .profile-modal, .alert-modal {
        margin-right: 1em;
        top: 4.5em;
    }
    .select-plan {
        flex-direction: row;
        width: 800px;
        padding: 12px 8px 12px 16px;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        background: var(--grey-grey-300, #1A1A1A);
        margin: 1em auto;
    }

    .select-plan div {
        flex-direction: row;
        align-items: center;
        flex: 1 0;
    }
    .setup {
        display: flex;
        width: 800px;
        padding: 8px;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        border-radius: 18px;
        border: 1px solid var(--stroke-s-50, #DBDBDB);
        background: var(--White, #FFF);
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
        margin: auto;
    }
    .article-content {
        flex-direction: column;
    }
    .flex-box {
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }
    .search-container {
        display: flex;
        width: 480px;
        height: 32px;
        padding: 8px;
        align-items: center;
        gap: 6px;
        flex: none;
    }
}
